body {
  /* background-color: #340a40; */
  /* color: #fff; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/callout.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.row > * {
  padding: 0px;
}

#progress-box {
  margin: 30px auto 20px;
  max-width: 400px;
  /* background-color: bisque; */
  padding-top: 20px;
}

#game-box {
  /* background-color: beige; */
  /* margin: 20px; */
  padding-top: 50px;
  padding-bottom: 20px;
}

#main-game {
  max-width: 500px;
  height: 85vh;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #936B9B; */
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10%;
  /* border-style: none; */
  margin-top: 40px;
  margin-bottom: 40px;
}

#information-box {
  padding-top: 50px;
  /* margin: 20px; */
  /* background-color: cadetblue; */
  height: 100px;
}

#button-box {
  /* margin: 20px; */
  /* background-color: darkgray; */
}

#endgame-box {
  /* margin: 20px; */
  /* background-color: darkseagreen; */
  padding-bottom: 40px;
}


/********** CALLOUT **********/

.callout {
  position: relative;
  /* background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../images/callout.jpg); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/callout.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll; */
}

.callout-full {
  padding: 10rem 0;
}

.callout .callout-logo {
  height: 10rem;
}

.callout .callout-title {
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 900;
}

.callout .callout-subtitle {
  font-size: 1.25rem;
}

.callout .callout-scroll {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
}

.callout .callout-scroll .callout-scroll-btn {
  display: inline-block;
  font-size: 1.5rem;
  height: 3.125rem;
  width: 3.125rem;
  line-height: 3.125rem;
  border-radius: 100%;
  border: 0.125rem;
  border-style: solid;
  border-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #fff;
}

@media (min-width: 992px) {
  .callout-full {
    padding: 0;
    height: 100vh;
    min-height: 35rem;
  }
}

/********** /CALLOUT **********/



/* PROGRESS-BOX */

.dot {
  position: absolute;
  overflow: visible;
  width: 30px;
  height: 30px;
  display: block;
  background: #e9ecef;
  border-radius: 50%;
  right: -15px;
  top: 10px;
  z-index: 10;
}

#dot-0 {
  left: -15px;
}

/* da controllare */
.inner-dot {
  width: 14px;
  height: 14px;
  /* background: #ffffff; */
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
}

.inner-dot i {
  position: absolute;
  left: 0px;
  line-height: 14px;
}

.inner-dot .fa-trophy {
  left: -2px;
}

.progress-game {
  margin-top: 20px;
  overflow: visible;
  height: 10px;
  width: 100%;
}

.progress-bar-game {
  overflow: visible;
  width: 0%;
}

.score {
  margin-top: 20px;
  color: #0d6efd;
}

/* GAME-BOX */

.game-slot,
.button-game-choice {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  line-height: 100px;
  font-size: 40px;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}

.game-slot-button {
  font-size: 50px;
  background-color: black;
  border: none;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  opacity: 80%;
}

/* ENDGAME-BOX */

#form-reward-mail {
  max-width: 400px;
  margin: 15px;
  margin-right: auto;
  margin-left: auto;
}
